# Project specific
/web/vendor/
/web/themes/
/config.json

# Symfony
/web/bundles/
/app/bootstrap.php.cache
/app/config/parameters.yml
/var/cache/*
/var/logs/*
/var/sessions/*
/build/
/vendor/
/bin/
/composer.phar

# NodeJS
/node_modules

# IDE & Environment
.DS_Store
nbproject/*
catalog.xml
.idea
*.project
.vagrant
Vagrantfile

# vi undofile
*.*.un~
