{% extends 'AcmeTaskUiWebBundle::layout.html.twig' %}

{% block main %}
    <div>
        {{ include('AcmeTaskUiWebBundle:Task:form.html.twig', {'form': form}) }}

        {{ render(controller('acme.task.ui.web.controller.task:listAction')) }}
    </div>
{% endblock main %}
