{% extends 'AcmeTaskUiWebBundle::layout.html.twig' %}

{% block main %}
    <div class="center-block hello-block">
        <img src="{{ asset('bundles/acmetaskuiweb/themes/default/images/hello-you.png') }}" alt="Hello, you!">
        <p>
            And welcome to the Big Brains Company - Symfony CQRS edition
        </p>
    </div>

    <hr class="sep">

    <div class="jumbotron instructions">
        <p>You're almost done!</p>
        <p>Don't worry, it will be quick, but you first need to initialize the application.</p>
        <p>Just run the following command from your CLI:</p>
        <p><code>$ php app/console acme:task:initialize</code></p>
        <p>Once you are done, just refresh this page.</p>
    </div>
{% endblock main %}
